#tracy-debug-bar {
    background: #FFFFFF !important;
    border: 1px solid #DDDDDD !important;
    border-radius: 0 !important;
    box-shadow: none !important;
    opacity: 1 !important;
}

#tracy-debug-bar li > a:hover {
    color: black !important;
    background: #FFFFFF !important;
}

#tracy-debug-bar li > a {
    transition: transform 0.12s;
}
#tracy-debug-bar li > a:hover svg {
    transform: scale(1.2);
}

.tracy-panel a:link {
    color: #125EAE !important;
    background-color: transparent !important;
}
.tracy-panel a:focus {
    color: #125EAE !important;
}
.tracy-panel a:hover {
    color: #FFFFFF !important;
    background-color: #125EAE !important;
}

.tracy-panel h3 {
    display: block !important;
    font-size: 1.17em !important;
    font-weight: bold !important;
    border: none !important;
    padding-top: 1em !important;
    color: #444444 !important;
    text-transform: none !important;
}

#tracy-debug h1 {
    max-width: calc(100vw - 40px) !important;
    padding-right: 35px !important;
    color: #444444 !important;
    text-transform: none !important;
}

#tracy-debug input {
    height: 18px !important;
}

#tracy-debug input[type="checkbox"],
#tracy-debug input[type="radio"] {
    width: 12px !important;
    height: 12px !important;
    position: static !important;
    padding: 0 !important;
    margin: 0 !important;
}

#tracy-debug input[type="text"] {
    font-family: sans-serif !important;
    height: inherit !important;
    width: initial !important;
    display: inline-block !important;
    padding: 0 !important;
    margin: 0 !important;
    border-radius: 0 !important;
}

#tracy-debug, #tracy-debug h2, #tracy-debug legend {
    font-family: sans-serif !important;
    font-weight: normal !important;
    color: #333333 !important;
    text-transform: none !important;
}

#tracy-debug, #tracy-debug legend, #tracy-debug p, #tracy-debug legend li, #tracy-debug select {
    font-family: sans-serif !important;
    font-weight: normal !important;
    color: #333333 !important;
    font-size: 12px !important;
}

#tracy-debug textarea:focus, #tracy-debug input:focus, #tracy-debug select:focus {
    border-color: #EEEEEE !important;
}

#tracy-debug select {
    height: initial !important;
    width: initial !important;
    border-radius: 5px !important;
    margin: 0 !important;
    display: inline-block !important;
    padding: 3px 3px 3px 10px !important;

}

#tracy-debug select:not([multiple]):not([size]) {
    -webkit-appearance: menulist !important;
    -moz-appearance: menulist !important;
    appearance: menulist !important;
    background: none !important;
}

#tracy-debug textarea, #tracy-debug input, #tracy-debug select {
    background-color: #FFFFFF !importantt;
    border: 1px solid #D2D2D2 !important;
    padding: initial !important;
    font-size: 12px !important;
}

#tracy-debug label {
    margin:0 !important;
    font-size: 12px !important;
    color: #444444 !important;
    font-weight: normal !important;
}

#tracy-debug small {
    font-size:80% !important;
}

#tracy-debug a {
    border: none !important;
}

#tracy-debug table {
    width: initial !important;
    margin: 0 !important;
    box-shadow: none !important;
}

#tracy-debug .tracy-panel td,
#tracy-debug .tracy-panel th {
    font-family: sans-serif !important;
    font-weight: normal !important;
    font-size: 12px !important;
    color: #444444 !important;
    padding: 3px !important;
}

#tracy-debug input[type="submit"], .tracyCopyBtn {
    width: initial !important;
    height: initial !important;
    display: inline-block !important;
    background: #FFFFFF !important;
    margin: 0 !important;
    padding: 3px !important;
    border: 1px solid #D2D2D2 !important;
    -webkit-border-radius: 5px !important;
    -moz-border-radius: 5px !important;
    border-radius: 5px !important;
    cursor: pointer !important;
    text-transform: none !important;
    font: normal normal 12px/1.5 sans-serif;
    color: #444444;
}

#tracy-debug fieldset {
    all: initial !important;
    font: inherit !important;
    color: inherit !important;
}

.tracy-panel h2 {
    font-size: 20px !important;
}

.tracy-inner {
    max-height: calc(100vh - 85px) !important;
    max-width: calc(100vw - 40px) !important;
    padding-right: 30px !important;
}

.tracy-inner fieldset label {
    display: block !important;
}

.tracy-inner p {
    font-size:12px !important;
}

#tracy-debug pre.tracy-dump {
    padding: .4em 2em .4em .7em !important;
}

.tracy-inner td {
    word-wrap: break-word !important;
}

.tracy-inner td.tracy-force-break {
    /*overflow-wrap: break-word;*/
    /*-ms-word-break: break-all;*/
    /* This is the dangerous one in WebKit, as it breaks things wherever */
    /*word-break: break-all;*/
    /* Instead use this non-standard one: */
    /*word-break: break-word;*/
    white-space: pre;           /* CSS 2.0 */
    white-space: pre-wrap;      /* CSS 2.1 */
    white-space: pre-line;      /* CSS 3.0 */
    white-space: -pre-wrap;     /* Opera 4-6 */
    white-space: -o-pre-wrap;   /* Opera 7 */
    white-space: -moz-pre-wrap; /* Mozilla */
    white-space: -hp-pre-wrap;  /* HP Printers */
    word-wrap: break-word;      /* IE 5+ */
}

.tracy-section {
    padding: 10px 0;
    border-top: 1px dotted #CCCCCC;
}

.tracy-toggle {
    font-size: 12px !important;
}

.pw-admin-links a {
    transition: transform 0.12s;
}
.pw-admin-links a:hover svg {
    transform: scale(1.4);
}
.pw-admin-links a:hover, .pw-admin-links a:active, .pw-admin-links a:focus {
    background-color: transparent !important;
}

#tracy-debug input[type="text"]#tracySnippetName {
    padding: 4px 34px 4px 8px !important;
    height: 29px !important;
    width: 100% !important;
}

#snippetTrash {
    visibility:hidden;
}

#tracySnippets {
    padding: 0 !important;
    border: none;
}

#tracySnippets ul {
    margin-left: 0 !important;
}

#tracySnippets li {
    display: block;
    padding: 0 !important;
    border-top: 1px solid #ddd;
    font-family: sans-serif !important;
    line-height: 18px !important;
    font-size: 12px !important;
    position:relative !important;
}

#tracySnippets li:first-child {
    border-top: none;
}

#tracySnippets li svg {
    width: 100% !important;
}

#tracySnippets li > span {
    display: block;
    padding: 5px 5px 5px 9px !important;
    -moz-user-select: none;
    -webkit-user-select: none;
    user-select: none;
}

#tracySnippets li > span:not(.trashIcon):active,
.activeSnippet {
    background: #ebeef0 !important;
}

#tracySnippets li .trashIcon:active + span {
    color: #fff !important;
    background: #EA2262 !important;
}

#tracySnippets li:hover span:not(.activeSnippet) {
    background: #F5F8F9;
}

#tracySnippets .trashIcon {
    visibility: hidden;
    background: transparent !important;
    position: absolute !important;
    padding: 5px !important;
    top: 1px;
    right: 5px !important;
    cursor: pointer;
}

#tracySnippets .trashIcon:active {
    color: #fff !important;
}

#tracySnippets .trashIcon:hover {
    color: #EA2262;
}

#tracySnippets .trashIcon:not(:hover) {
    color: #a8bdc8 !important;
}

#tracySnippets li:hover .trashIcon {
    visibility: visible;
}

#tracy-debug #saveSnippet {
	padding: 2px 6px !important;
	position: absolute;
	font-size: 15px !important;
	right: 3px;
	top: 2px;
	border-color: transparent !important;
	background: transparent !important;
}

#tracy-debug #runCode,
#tracy-debug #clearResults,
#tracy-debug #historyBack,
#tracy-debug #historyForward {
	padding: 3px 10px !important;
	margin-right: 5px !important;
}

#tracy-debug #runCode:hover,
/*#tracy-debug #clearResults:hover,*/
#tracy-debug #historyBack:hover,
#tracy-debug #historyForward:hover {
	background: #F5F8F9 !important;
}

#tracy-debug #historyForward {
	margin-left: -11px !important;
	border-right-color: transparent !important;
}

#tracy-debug #historyBack,
#tracy-debug #historyForward {
	border-top-right-radius: 0 !important;
	border-bottom-right-radius: 0 !important;
}

#tracy-debug #clearResults {
	border-color: transparent !important;
	/*float: right !important;*/
	/*padding-right: 0 !important;*/
	/*margin-left: 8px !important;*/
}

#clearResults:hover {
	text-decoration: underline;
}
.arrowRight {
    transform: scaleX(-1);
    filter: flipH;
    -ms-filter: flipH;
    display: inline-block;
}

#tracyConsoleStatus {
	font-style: italic;
	opacity: 0.8;
}

.disabledButton {
    opacity: 0.5;
    cursor: default !important;
}

#hide-button {
    cursor: pointer !important;
    padding: 0 5px 0 3px;
}

#show-button {
    bottom: 0 !important;
    right: 0 !important;
    z-index: 99999 !important;
    position: fixed !important;
    width: 16px !important;
    margin: 0 !important;
    padding: 4px 15px 2px 6px !important;
    background: #FFFFFF !important;
    border: 1px solid #DDDDDD !important;
    font-size: 12px !important;
    cursor: pointer;
    box-sizing: border-box !important;
    line-height: normal !important;
    height: 22px !important;
}

#tracy-debug input[type="submit"][disabled] {
    cursor: default !important;
}

.tooltipped{position:relative}.tooltipped:after{position:absolute;z-index:1000000;display:none;padding:5px 8px;font:normal normal 11px/1.5 Helvetica,arial,nimbussansl,liberationsans,freesans,clean,sans-serif,"Segoe UI Emoji","Segoe UI Symbol";color:#fff;text-align:center;text-decoration:none;text-shadow:none;text-transform:none;letter-spacing:normal;word-wrap:break-word;white-space:pre;pointer-events:none;content:attr(aria-label);background:rgba(0,0,0,0.8);border-radius:3px;-webkit-font-smoothing:subpixel-antialiased}.tooltipped:before{position:absolute;z-index:1000001;display:none;width:0;height:0;color:rgba(0,0,0,0.8);pointer-events:none;content:"";border:5px solid transparent}.tooltipped:hover:before,.tooltipped:hover:after,.tooltipped:active:before,.tooltipped:active:after,.tooltipped:focus:before,.tooltipped:focus:after{display:inline-block;text-decoration:none}.tooltipped-multiline:hover:after,.tooltipped-multiline:active:after,.tooltipped-multiline:focus:after{display:table-cell}.tooltipped-s:after,.tooltipped-se:after,.tooltipped-sw:after{top:100%;right:50%;margin-top:5px}.tooltipped-s:before,.tooltipped-se:before,.tooltipped-sw:before{top:auto;right:50%;bottom:-5px;margin-right:-5px;border-bottom-color:rgba(0,0,0,0.8)}.tooltipped-se:after{right:auto;left:50%;margin-left:-15px}.tooltipped-sw:after{margin-right:-15px}.tooltipped-n:after,.tooltipped-ne:after,.tooltipped-nw:after{right:50%;bottom:100%;margin-bottom:5px}.tooltipped-n:before,.tooltipped-ne:before,.tooltipped-nw:before{top:-5px;right:50%;bottom:auto;margin-right:-5px;border-top-color:rgba(0,0,0,0.8)}.tooltipped-ne:after{right:auto;left:50%;margin-left:-15px}.tooltipped-nw:after{margin-right:-15px}.tooltipped-s:after,.tooltipped-n:after{-webkit-transform:translateX(50%);-ms-transform:translateX(50%);transform:translateX(50%)}.tooltipped-w:after{right:100%;bottom:50%;margin-right:5px;-webkit-transform:translateY(50%);-ms-transform:translateY(50%);transform:translateY(50%)}.tooltipped-w:before{top:50%;bottom:50%;left:-5px;margin-top:-5px;border-left-color:rgba(0,0,0,0.8)}.tooltipped-e:after{bottom:50%;left:100%;margin-left:5px;-webkit-transform:translateY(50%);-ms-transform:translateY(50%);transform:translateY(50%)}.tooltipped-e:before{top:50%;right:-5px;bottom:50%;margin-top:-5px;border-right-color:rgba(0,0,0,0.8)}.tooltipped-multiline:after{width:-webkit-max-content;width:-moz-max-content;width:max-content;max-width:250px;word-break:break-word;word-wrap:normal;white-space:pre-line;border-collapse:separate}.tooltipped-multiline.tooltipped-s:after,.tooltipped-multiline.tooltipped-n:after{right:auto;left:50%;-webkit-transform:translateX(-50%);-ms-transform:translateX(-50%);transform:translateX(-50%)}.tooltipped-multiline.tooltipped-w:after,.tooltipped-multiline.tooltipped-e:after{right:100%}@media screen and (min-width: 0\0){.tooltipped-multiline:after{width:250px}}.tooltipped-sticky:before,.tooltipped-sticky:after{display:inline-block}.tooltipped-sticky.tooltipped-multiline:after{display:table-cell}.fullscreen-overlay-enabled.dark-theme .tooltipped:after{color:#000;background:rgba(255,255,255,0.8)}.fullscreen-overlay-enabled.dark-theme .tooltipped .tooltipped-s:before,.fullscreen-overlay-enabled.dark-theme .tooltipped .tooltipped-se:before,.fullscreen-overlay-enabled.dark-theme .tooltipped .tooltipped-sw:before{border-bottom-color:rgba(255,255,255,0.8)}.fullscreen-overlay-enabled.dark-theme .tooltipped.tooltipped-n:before,.fullscreen-overlay-enabled.dark-theme .tooltipped.tooltipped-ne:before,.fullscreen-overlay-enabled.dark-theme .tooltipped.tooltipped-nw:before{border-top-color:rgba(255,255,255,0.8)}.fullscreen-overlay-enabled.dark-theme .tooltipped.tooltipped-e:before{border-right-color:rgba(255,255,255,0.8)}.fullscreen-overlay-enabled.dark-theme .tooltipped.tooltipped-w:before{border-left-color:rgba(255,255,255,0.8)}

