:root {
    --menu-width: 12rem;
    --font-size: 13;
}

html {
    overflow-y: auto;
}

#pw_logo_path {
    fill: var(--link-text);
}

.adminerPwLogo {
    display: flex;
    align-items: center;
    margin-top: 8px;
}

.header li.adminerPwLogo::after {
    position: relative;
    top: -4px;
}

html.framed .adminerPwLogo {
    display: none;
}

.db-selector, #content h1, #content h2:first-of-type {
    display: none;
}
